extends layout
block content
  .dashhead
    .dashhead-titles
      h6.dashhead-subtitle Contacts
      h2.dashhead-title List
    .btn-toolbar.dashhead-toolbar
      .btn-group
        a.btn.btn-primary-outline(href='/admin/contact', type='button')
          | New Contact
          span.icon.icon-plus
  .flextable.table-actions
    .flextable-item.flextable-primary
      .btn-toolbar-item.input-with-icon
        input.form-control.input-block.model_search(type='text', placeholder='Search Contacts')
        span.icon.icon-magnifying-glass
    .flextable-item
    hr
    .table-full
      .table-responsive
        table.table(data-sort='table')
          thead
            tr
              th Name
              th Email
              th Message
              th Date Received
              th Actions
          tbody
            if contacts.length
              each contact in contacts
                tr
                  td
                    =contact.name
                  td
                    =contact.email
                  td
                    =contact.created.toDateString()
                  td
                    =contact.message.substr(0,16).concat('...')
                  td
                    a.btn.btn-primary-outline.btn-sm(href=`/admin/contact/${contact._id}`)
                      | View
                    | &nbsp;
                    a.btn.btn-primary-outline.btn-sm(href=`/admin/contact/delete/${contact._id}`, data-remote='true', data-confirm='Are You Sure?')
                      | Delete
                      span.icon.icon-erase
            else
              tr
                td(colspan=7, class="text-center")
                  | No Contacts found
    .text-center
  
