extends layout
block content
  pre
     code You can upload files by dragging and dropping files to the admin.
      |Once uploaded, you're uploaded files will appear on the right sidebar.
      |Clicking on an uploaded file will copy the file url to your clipboard.


block scripts
  script(src="http://code.jquery.com/ui/1.10.4/jquery-ui.js")
