doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    title
      | Overview ·
    link(href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic', rel='stylesheet')
    link(href='http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/admin/assets/css/toolkit-light.css', rel='stylesheet')
    link(href='/admin/assets/css/application.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css', rel='stylesheet')
    style.
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
      .arrowPopOut{
        position: absolute;
        top: 50%;
        left: -30px;
        font-size: 1.5em;
      }
      .rightSideBar.open{
        width: 12%;

      }
      .arrowPopOut:hover{
        color: purple;
        font-size: 2em;
      }
      .rightSideBar{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 0px;
        z-index: 9;
      }

body
    .container
      .row
        .col-md-12
      .row
        .col-sm-3.sidebar
          nav.sidebar-nav
            .sidebar-header
              button.nav-toggler.nav-toggler-sm.sidebar-toggler(type='button', data-toggle='collapse', data-target='#nav-toggleable-sm')
                span.sr-only Toggle nav
              a.sidebar-brand.img-responsive(href='/admin')
                span.icon.icon-leaf.sidebar-brand-icon
                |  Hackathon Starter Lite
            #nav-toggleable-sm.collapse.nav-toggleable-sm
              ul.nav.nav-pills.nav-stacked
                li.nav-header Dashboards
                li
                  a(href='/admin') Overview
                br

                ul.nav.nav-pills.nav-stacked
                  li.nav-header Administrative
                  li
                    a(href='/auth/logout') Logout
                br

                ul.nav.nav-pills.nav-stacked
                  li.nav-header User
                  li
                    a(href='/admin/users') Users
                  li
                    a(href='/admin/user') Add User
                br

                ul.nav.nav-pills.nav-stacked
                  li.nav-header Blog
                  li
                    a(href='/admin/posts') Posts
                  li
                    a(href='/admin/post') Add Post
                br
                ul.nav.nav-pills.nav-stacked
                  li.nav-header Project
                  li
                    a(href='/admin/projects') Projects
                  li
                    a(href='/admin/project') Add Project
                br
                ul.nav.nav-pills.nav-stacked
                  li.nav-header Product
                  li
                    a(href='/admin/products') Products
                  li
                    a(href='/admin/product') Add Product
                br
                ul.nav.nav-pills.nav-stacked
                  li.nav-header File
                  li
                    a(href='/admin/files') Files
                  li
                    a(href='/admin/file') Add File


              hr.visible-xs.m-t
        #flash.col-sm-9.content
          include ../partials/flash
          block content
            h1 Default content
        #docsModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                h4#myModalLabel.modal-title Example modal
              .modal-body
                p You're looking at an example modal in the dashboard theme.
              .modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal') Cool, got it!
        #popout.rightSideBar
          div.rightSideContent(style="height: 100%;")
          div#arrowBut.fa.fa-arrow-left.arrowPopOut
    script(src='/admin/assets/js/jquery.min.js')
    script(src='/admin/assets/js/chart.js')
    script(src='/admin/assets/js/tablesorter.min.js')
    script(src='/admin/assets/js/toolkit.js')
    script(src='/admin/assets/js/application.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js')
    script.
      //global image uploader
      $(function () {
        function handleImageDrop(e){
          console.log("Por que not working?");
          e.preventDefault()
          var files = e.originalEvent.dataTransfer.files
          var formData = new FormData()

          //upload files
          $(files).each( function(index, file){
            formData.append('file', file)
          })

          $.ajax({
            url: '/admin/images/upload',
            data: formData,
            processData: false,
            contentType: false,
            type: 'POST',
            success: function (data) {
              $close = $('<button class="close" type="button" data-dismiss="alert"><i class="fa fa-times-circle-o">x</i></button>');
              $alert = $('<div></div>')
                      .addClass('alert alert-success')
                      .html(data)
                      .append($close)
              $filename = data[0].originalname;
              $destination = data[0].destination;
              $file = data[0].filename;
              $url = "/uploads/" + $file;
              $('.rightSideBar').addClass("open")
              $('#arrowBut').removeClass("fa-arrow-left").addClass("fa-arrow-right")
              if ($filename.includes(".jpg", ".gif")){
                $('.rightSideContent').append(`<img class="trigger img-thumbnail" src="${$url}" style="width: 150px;" value="${$url}"></img>`);
              } else {
                $('.rightSideContent').append(`<h1 class="trigger" value="${$url}">"${$filename}"</h1>`);
              }


              $alert.prependTo('#flash')
            },
            error: function (err) {
              console.log('error', err)
            }
          })

        }
        $('.arrowPopOut').click(function(){
          if($('.rightSideBar').hasClass("open")) {
            $('.rightSideBar').removeClass("open")
            $('#arrowBut').removeClass('fa-arrow-right').addClass('fa-arrow-left')
          } else{
            $('.rightSideBar').addClass("open")
            $('#arrowBut').removeClass("fa-arrow-left").addClass("fa-arrow-right")
          }
        })
        $('body')
                .on('dragover', function(){ return false } )
                .on('dragenter', function(){ return false } )
                .on('drop', handleImageDrop )
        $('.rightSideContent').on('click', ".trigger", function(){
          var xxx = $(this).attr("value");
          console.log(xxx);
          copy(xxx);
        })
      })
      function copy(string) {
        var dummy = document.createElement("input");
        // Add it to the document
        document.body.appendChild(dummy);
        // Set its ID
        dummy.setAttribute("id", "dummy_id");
        // Output the array into it
        document.getElementById("dummy_id").value = string;
        // Select it
        dummy.select();
        // Copy its contents
        document.execCommand("copy");
        // Remove it as its not needed anymore
        document.body.removeChild(dummy);
      }

    block scripts