extends layout

block content
  .dashhead
    .dashhead-titles
      h6.dashhead-subtitle Dashboards
      h2.dashhead-title Overview
  hr.m-t
  .row.text-center.m-t-lg
    .col-sm-4.m-b-md
      .w-lg.m-x-auto
        canvas.ex-graph(width='200', height='200', data-chart='doughnut', data-value="[{ value: 230, color: '#1ca8dd', label: 'Returning' }, { value: 130, color: '#1bc98e', label: 'New' }]", data-segment-stroke-color='#252830')
      strong.text-muted Traffic
      h3 New vs Returning
    .col-sm-4.m-b-md
      .w-lg.m-x-auto
        canvas.ex-graph(width='200', height='200', data-chart='doughnut', data-value="[{ value: 330, color: '#1ca8dd', label: 'Recurring' }, { value: 30, color: '#1bc98e', label: 'New' }]", data-segment-stroke-color='#252830')
      strong.text-muted Revenue
      h3 New vs Recurring
    .col-sm-4.m-b-md
      .w-lg.m-x-auto
        canvas.ex-graph(width='200', height='200', data-chart='doughnut', data-value="[{ value: 100, color: '#1ca8dd', label: 'Referrals' }, { value: 260, color: '#1bc98e', label: 'Direct' }]", data-segment-stroke-color='#252830')
      strong.text-muted Traffic
      h3 Direct vs Referrals
  .hr-divider.m-t-md.m-b
    h3.hr-divider-content.hr-divider-heading Quick stats
  .row.statcards
    .col-sm-6.col-lg-3.m-b
      .statcard.statcard-success
        .p-a
          span.statcard-desc Page views
          h2.statcard-number
            | 12,938
            small.delta-indicator.delta-positive 5%
          hr.statcard-hr.m-b-0
        canvas#sparkline1.sparkline(width='378', height='94', data-chart='spark-line', data-value='[{data:[28,68,41,43,96,45,100]}]', data-labels="['a','b','c','d','e','f','g']", style='width: 189px; height: 47px;')
    .col-sm-6.col-lg-3.m-b
      .statcard.statcard-danger
        .p-a
          span.statcard-desc Downloads
          h2.statcard-number
            | 758
            small.delta-indicator.delta-negative 1.3%
          hr.statcard-hr.m-b-0
        canvas#sparkline1.sparkline(width='378', height='94', data-chart='spark-line', data-value='[{data:[4,34,64,27,96,50,80]}]', data-labels="['a', 'b','c','d','e','f','g']", style='width: 189px; height: 47px;')
    .col-sm-6.col-lg-3.m-b
      .statcard.statcard-info
        .p-a
          span.statcard-desc Sign-ups
          h2.statcard-number
            | 1,293
            small.delta-indicator.delta-positive 6.75%
          hr.statcard-hr.m-b-0
        canvas#sparkline1.sparkline(width='378', height='94', data-chart='spark-line', data-value='[{data:[12,38,32,60,36,54,68]}]', data-labels="['a', 'b','c','d','e','f','g']", style='width: 189px; height: 47px;')
    .col-sm-6.col-lg-3.m-b
      .statcard.statcard-warning
        .p-a
          span.statcard-desc Downloads
          h2.statcard-number
            | 758
            small.delta-indicator.delta-negative 1.3%
          hr.statcard-hr.m-b-0
        canvas#sparkline1.sparkline(width='378', height='94', data-chart='spark-line', data-value='[{data:[43,48,52,58,50,95,100]}]', data-labels="['a', 'b','c','d','e','f','g']", style='width: 189px; height: 47px;')
  hr.m-t
  .row
    .col-md-6.m-b-md
      .list-group
        h4.list-group-header
          | Countries
        a.list-group-item(href='#')
          span.list-group-progress(style='width: 62.4%;')
          span.pull-right.text-muted 62.4%
          |                     United States
        a.list-group-item(href='#')
          span.list-group-progress(style='width: 15.0%;')
          span.pull-right.text-muted 15.0%
          |                     India
        a.list-group-item(href='#')
          span.list-group-progress(style='width: 5.0%;')
          span.pull-right.text-muted 5.0%
          |                     United Kingdom
        a.list-group-item(href='#')
          span.list-group-progress(style='width: 5.0%;')
          span.pull-right.text-muted 5.0%
          |                     Canada
        a.list-group-item(href='#')
          span.list-group-progress(style='width: 4.5%;')
          span.pull-right.text-muted 4.5%
          |                     Russia
        a.list-group-item(href='#')
          span.list-group-progress(style='width: 2.3%;')
          span.pull-right.text-muted 2.3%
          |                     Mexico
        a.list-group-item(href='#')
          span.list-group-progress(style='width: 1.7%;')
          span.pull-right.text-muted 1.7%
          |                     Spain
        a.list-group-item(href='#')
          span.list-group-progress(style='width: 1.5%;')
          span.pull-right.text-muted 1.5%
          |                     France
        a.list-group-item(href='#')
          span.list-group-progress(style='width: 1.4%;')
          span.pull-right.text-muted 1.4%
          |                     South Africa
        a.list-group-item(href='#')
          span.list-group-progress(style='width: 1.2%;')
          span.pull-right.text-muted 1.2%
          |                     Japan
      a.btn.btn-primary-outline.p-x(href='#') All countries
    .col-md-6.m-b-md
      .list-group
        h4.list-group-header
          | Most visited pages
        a.list-group-item(href='#')
          span.pull-right.text-muted 3,929,481
          |                     / (Logged out)
        a.list-group-item(href='#')
          span.pull-right.text-muted 1,143,393
          |                     / (Logged in)
        a.list-group-item(href='#')
          span.pull-right.text-muted 938,287
          |                     /tour
        a.list-group-item(href='#')
          span.pull-right.text-muted 749,393
          |                     /features/something
        a.list-group-item(href='#')
          span.pull-right.text-muted 695,912
          |                     /features/another-thing
        a.list-group-item(href='#')
          span.pull-right.text-muted 501,938
          |                     /users/username
        a.list-group-item(href='#')
          span.pull-right.text-muted 392,842
          |                     /page-title
        a.list-group-item(href='#')
          span.pull-right.text-muted 298,183
          |                     /some/page-slug
        a.list-group-item(href='#')
          span.pull-right.text-muted 193,129
          |                     /another/directory/and/page-title
        a.list-group-item(href='#')
          span.pull-right.text-muted 93,382
          |                     /one-more/page/directory/file-name
      a.btn.btn-primary-outline.p-x(href='#') View all pages
  .list-group
    h4.list-group-header
      | Devices and resolutions
    a.list-group-item(href='#')
      span.pull-right.text-muted 3,929,481
      |                 Desktop (1920x1080)
    a.list-group-item(href='#')
      span.pull-right.text-muted 1,143,393
      |                 Desktop (1366x768)
    a.list-group-item(href='#')
      span.pull-right.text-muted 938,287
      |                 Desktop (1440x900)
    a.list-group-item(href='#')
      span.pull-right.text-muted 749,393
      |                 Desktop (1280x800)
    a.list-group-item(href='#')
      span.pull-right.text-muted 695,912
      |                 Tablet (1024x768)
    a.list-group-item(href='#')
      span.pull-right.text-muted 501,938
      |                 Tablet (768x1024)
    a.list-group-item(href='#')
      span.pull-right.text-muted 392,842
      |                 Phone (320x480)
    a.list-group-item(href='#')
      span.pull-right.text-muted 298,183
      |                 Phone (720x450)
    a.list-group-item(href='#')
      span.pull-right.text-muted 193,129
      |                 Desktop (2560x1080)
    a.list-group-item(href='#')
      span.pull-right.text-muted 93,382
      |                 Desktop (2560x1600)
  a.btn.btn-primary-outline.p-x(href='#') View all devices
