extends layout
block content
  .dashhead
    .dashhead-titles
      h6.dashhead-subtitle Blogs
      h2.dashhead-title Listings
    .btn-toolbar.dashhead-toolbar
      .btn-group
        a.btn.btn-primary-outline(href='/admin/post', type='button')
          | New Post
          span.icon.icon-plus
  hr.m-t
  .flextable.table-actions
    .flextable-item.flextable-primary
      .btn-toolbar-item.input-with-icon
        input.form-control.input-block(type='text', placeholder='Search users')
        span.icon.icon-magnifying-glass
    .flextable-item
  .table-full
    .table-responsive
      table.table(data-sort='table')
        thead
          tr
            td
              input#selectAll.select-all(type='checkbox')
            th Status
            th Title
            th Created
            th Actions
        tbody
          each post in posts
            tr
              td
                input.select-row(type='checkbox')
              td
                =post.status
              td
                =post.title
              td
                =moment(post.created).format("YYYY-MM-DD")
              td
                a.btn.btn-primary-outline.btn-sm(href='/admin/post/#{post._id}')
                  | Edit
                  span.icon.icon-pencil
                | &nbsp;
                a.btn.btn-primary-outline.btn-sm(href='/admin/post/delete/#{post._id}', data-remote='true', data-confirm='Are You Sure?')
                  | Delete
                  span.icon.icon-erase
                | &nbsp;
                a.btn.btn-primary-outline.btn-sm(href='/blog/post/#{post._id}')
                  | View
  .text-center
  script(type='text/javascript').
    (function(){
      $('table.table .header').on('click', function(e){
        alert('hi');
      })
    })