extends ../layout

block content
  article.post
    header.post-header
      h1.post-title=post.title
      span.post-date=moment(post.date).format('DD MMMM YYYY')
      section.post-content!=post.content

      hr
      p by #{post._author.profile.name}
      hr