extends layout

block content
  p.lead My Account

  form.form-horizontal(method="POST" role="form" action="/auth/account")
    .form-group
      label.col-sm-2(for="name" control-label) Name
      .col-sm-8
        input#first_name.form-control(type="text" name="Name" placeholder="first name" value="#{user.profile.name || ''}")
    .form-group
      label.col-sm-2(for="email" control-label) Email
      .col-sm-8
        input#email.form-control(type="text" name="email" placeholder="joe@doe.com" value="#{user.email || ''}")
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-primary(type="submit")
          i.fa.fa-lock
          | Update
