extends layout

block content
  form(method="POST" action="/askEmail")
    .form-group
      label.col-sm-2.control-label(for='email') Email
      .col-sm-8
        input#email.form-control(type='text', name='email', value='')
      .col-sm-2
        button.btn.btn-primary(type='submit')
          i.fa.btn-xs.fa-lock
          |  Set Email
  hr