extends layout

block content
	.row
	.col-sm-6.col-sm-offset-3
		h3 Send us a message!
			form#contactForm(role='form')
			.row
				.form-group.col-sm-6
					label.h4(for='name') Name
					input#name.form-control(type='text', placeholder='Enter Name', required='')
				.form-group.col-sm-6
					label.h4(for='name') Email
					input#email.form-control(type='email', placeholder='Enter Email', required='')
				.form-group(style='padding: 15px')
					label.h4(for='message') Message
					textarea#message.form-control(rows='5', placeholder='Enter your message', required='')
				button#form-submit.btn.btn-success.btn-lg.pull-right(type='submit') Submit
	



