extends layout

block content
    p
      | A bare-minimal starter framework in Express with an admin interface to kickstart your next projects!
    p
      a.btn.btn-block.btn-social.btn-github(href='http://github.com/uptownhr/hackathon-starter-lite')
        i.fa.btn-xs.fa-github
        |  View on Github
