extends layout

block content
    p
      | A bare-minimal starter framework in Padrino (Ruby/Sinatra) with an admin interface to kickstart your next projects!
    p
      a.btn.btn-block.btn-social.btn-github(href='/user/github')
        i.fa.btn-xs.fa-github
        |  View on Github
