doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title
    link(href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic', rel='stylesheet')
    link(href='http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/admin/assets/css/toolkit-light.css', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(href='/admin/assets/css/application.css', rel='stylesheet')
    link(rel='stylesheet', href='/site/css/style.css')
  body
    nav
      a(href='https://github.com/uptownhr/hackathon-starter-lite', target='_blank') Github
      a(href='/blog') Blog
      .btn-group
        if user
          button.btn.btn-info.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            =user.profile.name || user.email
            | &nbsp;
          ul.dropdown-menu
            if user.role == 'admin' 
              li
                a(href='/admin') Admin
            li
              a(href='/user/account') My Account
            li
              a(href='/auth/logout') Logout
        else
          a(href='/auth/login') Login
    br(style='clear: both;')
    .container.content
      header.masthead
        h3.masthead-title
          .post-page__logo-wrapper
            a(href='/', title='Home')
              img.post-page__logo(src='/site/img/logo.svg', alt='React')
              |             hackable
      main
        include partials/flash
        block content
      footer.footer
        small
          | © hackable
          time 2016
          | . All rights reserved.
    script(src='/admin/assets/js/jquery.min.js')
    script(src='/admin/assets/js/chart.js')
    script(src='/admin/assets/js/tablesorter.min.js')
    script(src='/admin/assets/js/toolkit.js')
    script(src='/admin/assets/js/application.js')

    script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
    script(src='http://static.jsbin.com/js/embed.min.js?3.34.0')
    script.
      (function () {
        $('.dropdown-toggle').dropdown();
      });
                     
