extends layout
block content
  article.post
    header.post-header
      h1.post-title=post.title
        header.post-meta(style='margin-bottom:60px;')
        p.post-date(datetime=post.date)
        section.post-content=post.content
