extends layout

block content
  p.lead Signup for free

  form.form-horizontal(method="POST" role="form" action="/auth/register")
    .form-group
      label.col-sm-2(for="name" control-label) Name
      .col-sm-4
        input#first_name.form-control(type="text" name="first_name" placeholder="first name" value="#{query.first_name || ''}")
      .col-sm-4
        input#last_name.form-control(type="text" name="last_name" placeholder="last name" value="#{query.last_name || ''}")
    .form-group
      label.col-sm-2(for="email" control-label) Email
      .col-sm-8
        input#email.form-control(type="text" name="email" placeholder="joe@doe.com" value="#{query.email || ''}")
    .form-group
      label.col-sm-2(for="password" control-label) Password
      .col-sm-8
        input#password.form-control(type="password" name="password" placeholder="at least 6 characters")
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-primary(type="submit")
          i.fa.fa-lock
          | Signup